includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: max
    paths:
        - .
        - Command
        - DependencyInjection
    excludePaths:
        - ConsumableTrait
        - Resources
        - Tests
        - vendor
    ignoreErrors:
        -
            message: '#Fetching class constant class of deprecated class#'
            path: DependencyInjection/JphooiveldEventSauceExtension.php
